* {
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
    Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}

.search-form {
  display: flex;
  justify-content: center;
  align-items: center;

  position: fixed;
  left: 0px;
  top: 0px;

  z-index: 1;

  width: 100%;
  padding: 10px;
  background-color: blue;
}

.form__input {
  display: block;
  margin: 0;
  padding: 8px;
  width: 320px;
  height: 32px;

  font: inherit;
  outline: none;
  border: none;
  border-radius: 2px;
}

.submit-button {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 6px;

  width: 36px;
  height: 32px;

  border: none;
  border-radius: 2px;
  cursor: pointer;

  background-color: lightskyblue;
  transition: 0.5s;
}

.submit-button:hover {
  background-color: aqua;
  box-shadow: aqua;
}

.search-icon {
  width: 22px;
  height: 22px;
}

.load-more {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0px;
  margin-bottom: 20px;

  width: 100px;
  height: 32px;

  font-size: 16px;

  border: none;
  border-radius: 2px;
  cursor: pointer;

  color: #fafafa;
  background-color: lightskyblue;
}

.load-more:hover {
  color: blue;
  background-color: aqua;
}

.gallery {
  display: grid;
  max-width: 1140px;
  grid-template-columns: auto auto auto auto;
  grid-auto-rows: auto;
  grid-gap: 20px;
  justify-content: center;
  margin-top: 80px;
  margin-bottom: 50px;
  margin-left: auto;
  margin-right: auto;
}

.photo-card {
  display: flex;
  flex-direction: column;
  box-shadow: 0px 1px 3px 0px rgba(0, 0, 0, 0.2), 0px 1px 1px 0px rgba(0, 0, 0, 0.14),
    0px 2px 1px -1px rgba(0, 0, 0, 0.12);
transition: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.photo-card:hover {
  cursor: pointer;

  transform: scale(1.05);
  box-shadow: 0px 7px 7px -2px rgba(7, 56, 62, 0.63);
}

.info {
  padding: 15px;
}

img {
  display: block;
  height: 250px;
  max-width: 100%;
  object-fit: cover;
}

p {
  margin: 0;
}
